<div class="container">
  <h1 class="my-4"><%= @task.title %></h1>
  <div class= "row mb-4">
    <div class="col-md-6">
      <h5><%= @task.details %></h5>
        <h6 class="text-muted">
          <%= check_box_tag 'completed', '1', @task.completed, disabled: true %> &nbsp; This task is <%= @task.completed ? 'completed' : 'not completed yet' %>
        </h6>
    </div>
    </div>
    <div class="mt-4">
      <%= link_to "Back", tasks_path, class: "btn btn-secondary" %>
      <%= link_to "Edit", edit_task_path(@task), class: "btn btn-primary" %>
    </div>
</div>
